parameters:
	ignoreErrors:
		-
			message: "#^Property VCR\\\\LibraryHooks\\\\CurlHook\\:\\:\\$multiExecLastChs type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/VCR/LibraryHooks/CurlHook.php

		-
			message: "#^Property VCR\\\\LibraryHooks\\\\CurlHook\\:\\:\\$multiHandles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/VCR/LibraryHooks/CurlHook.php

		-
			message: "#^Parameter \\#2 \\$length of function fread expects int\\<0, max\\>, int given\\.$#"
			count: 1
			path: src/VCR/Util/StreamProcessor.php

		-
			message: "#^Parameter \\#2 \\$size of function ftruncate expects int\\<0, max\\>, int given\\.$#"
			count: 1
			path: src/VCR/Util/StreamProcessor.php

		-
			message: "#^Property VCR\\\\Util\\\\StreamProcessor\\:\\:\\$context \\(resource\\) in isset\\(\\) is not nullable\\.$#"
			count: 6
			path: src/VCR/Util/StreamProcessor.php

		-
			message: "#^Method VCR\\\\VCRFactory\\:\\:createStorage\\(\\) should return VCR\\\\Storage\\\\Storage but returns object\\.$#"
			count: 1
			path: src/VCR/VCRFactory.php

		-
			message: "#^Call to function file_get_contents\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: tests/Unit/VCRTest.php
